#main
  position: absolute

  .game-element
    height: 20px
    width: @height
    position: absolute
    transition: left 0.1s, bottom 0.1s

  .Character
    background-color: black

  .Obstacle
    background-color: green

  .Monster
    background-color: red