#main
  position: relative
  width: 800px
  height: 400px
  background-color: #90ee90

  block($color, $size = 40px)
    position: absolute
    width: $size
    height: $size
    background-color: $color
    transition: left 0.1s, bottom 0.1s


  #character
    block: black 20px

  .obstacle
    block: green

  .monster
    block: red