#main {
  position: absolute;
}
#main .game-element {
  height: 20px;
  width: 20px;
  position: absolute;
  transition: left 0.1s, bottom 0.1s;
}
#main .Character {
  background-color: #000;
}
#main .Obstacle {
  background-color: #008000;
}
#main .Monster {
  background-color: #f00;
}
