#main
  /*position: absolute*/
  /*background-color: #90ee90*/

  $tileSize = 40px

  block($color, $size = $tileSize)
    width: $size
    height: $size
    background-color: $color

  // go game elements!
  .game-element
    display: inline-block
    position: absolute
    margin-top: $tileSize
    transition: left 0.1s, bottom 0.1s

  .Character
    block: black

  .Obstacle
    block: green

  .Monster
    block: red