#main {
  position: relative;
  width: 800px;
  height: 400px;
  background-color: #90ee90;
}
#main #character {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #000;
  transition: left 0.1s, bottom 0.1s;
}
